
#tours-title-heading {
    float: left;
}

#tours-title-actions {
    margin-top: 10px;
    float: right;
    margin-right: 9px;
}

#tours-title-actions-close {
    margin-right: 5px;
}

.tour-actions {
    float: right;
    margin-top: -4px;
    margin-right: 5px;
}

#tours-title {
    height: 60px;
}

#tours-list {
    height: 90%;
    overflow: auto;
}

.tour-heading {
    height: 24px;
}

.tour-group {
    padding: 10px;
    background-color: #dcd9e25c;
    margin-bottom: 5px;
}

.tour-bar {
    margin-left: 1px;
    padding: 10px;
    background-color: #dcd9e25c;
}

.tour-bar-content {
    overflow: auto;
    padding-left: 10px;
}

.tour-bar-description {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    float: left;
}

.tour-bar-image {
    background-size: auto;
    float: right;
}

.tour-add_form div {
    clear: left;
}

.tour-add_form div label {
    float: left;
}

.tour-add_form div input {
    float: right;
}

.tour-bar-title {
    float: left;
}

.tour-bar-actions {
    float: right;
}
