
#tours-title-heading {
    float: left;
}

#tours-title-actions {
    margin-top: 1vh;
    float: right;
}

#tours-title-actions-close {
    margin-right: 5px;
}

.tour-actions {
    float: right;
}

#tours-title {
    height: 6vh;
}
