
#profile-title-heading {
    float: left;
}

#profile-title-actions-close_button {
    margin-right: 5px;
}

#profile-title {
    height: 6vh;
}

#profile-title-actions {
    float: right;
    margin-top: 1vh;
}

#profile-bar {
    height: 5px;
}

#profile-bar-edit-icon {
    font-size: 20px;
}

#profile-image {
    background: url("/img/google.png") no-repeat; /* TODO: error image not found */
    background-size: auto;
    width: 100%;
    height: 100px;

    margin-top: 35px;
}

#profile-info div {
    clear: left;
    padding: 0.5vh;
}

#profile-info label {
    float: left;
}

#profile-info input {
    float: right;
    width: 15vh;
}

#profile-info-more {
    margin-top: 1vh;
}

#profile-info span {
    float: right;
}

#profile-favorites {
    clear: left;
}

#profile-bar > button {
    float: right;
    margin: 2px;
}

#profile-info-more-change_pwd-popup-form {
    height: 11vh;
}

#profile-info-more-change_pwd-popup-form div {
    clear: both;
    margin: 1vh;
}

#profile-info-more-change_pwd-popup-form div label {
    float: left;
}

#profile-info-more-change_pwd-popup-form div input {
    float: right;
}
