
#profile-title-heading {
    float: left;
}

#profile-title {
    height: 60px;
}

#profile-image_edit {
    float: right;
    margin-right: 15px;
}

#profile-title-actions {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

#profile-info_actions {
    height: 45px;
    overflow: auto;
    margin-right: 14px;
}

#profile-info_actions-heading {
    float: left;
    height: 30px;
    margin-bottom: auto;
}

#profile-image {
    display: block;
    margin: auto;
    margin-top: 35px;
    height: 100px;
    text-align: center;
}

#profile-info {
    margin-bottom: 10px;
    overflow: auto;
}

#profile-info div {
    clear: left;
    padding: 5px;
}

#profile-info label {
    float: left;
}

#profile-info input {
    float: right;
    width: 150px;
}

#profile-info span {
    float: right;
}

#profile-favorites {
    clear: left;
}

#profile-info_actions > button {
    float: right;
    margin: 2px;
}

#profile-info-change_pwd-popup-form {
    height: 110px;
}

#profile-info-change_pwd-popup-form div {
    clear: both;
    margin: 1vh;
}

#profile-info-change_pwd-popup-form div label {
    float: left;
}

#profile-info-change_pwd-popup-form div input {
    float: right;
}

#profile-info-password {
    color: blue;
}

#profile-info-password:hover {
    text-decoration: underline;
    cursor: pointer;
}
