/*
  Identifiers
*/

#profile {
    float: left;
    width: 250px;
}

#profile-back-button-icon {
    font-size: 30px;
}

#profile-title {
    float: left;
}

#profile-back-button {
    float: right;
}

#tours {
    float: left;
    width: 350px;
}

#map {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
}

#nav {
    z-index: 1;
}

/*
  Classes
*/

.panel {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: honeydew;
}

.panel-title {

}

/*
  By tag names
*/

body, html {
    margin: 0;
    padding: 0;
}
