
body {
    background: url("/img/login/login_background.jpg") no-repeat fixed;
}

form {
    text-align: center;
}

img#one {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

img#two {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

img#tree {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

input#four {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

input#five {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

input#six {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

@media (min-width: 370px) {
    .myClass{}
}
