body {
    background: url("/img/login/login_background.jpg") no-repeat fixed;
}

fieldset {
    font-family: sans-serif;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

form {
    text-align: center;
}

img#one {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

img#two {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

img#tree {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

input#four {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

input#five {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

input#six {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

input {
    font-family: sans-serif;
    background: #f5f5f5;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

button {
    font-family: sans-serif;
    background-color: darkgray;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
    width: 150px;
    height: 30px;
}

#footer {
    margin: -20px auto;
    padding: 0;
    line-height: 20px;
    font-size: 0.95em;
    background: #ccc;
}

@media (min-width: 370px) {
    .myClass{}
}
