
body {
    background: url("../../../img/login/login_background.jpg") no-repeat fixed;
}

form {
    text-align: center;
}

#one {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

#two {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

#tree {
    position: absolute; /*siehe untern*/
    margin-left: -35px; /*margin dafür, dass es sich an fenstergroeße anpasst */
}

#logo {
    height: 50%;
    width: 50%;
}

#cit {
    height: 3%;
    width: 3%;
}

#four {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

#five {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

#six {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

#seven {
    background-color: darkgray;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

#eight {
    background-color: #00BFFF;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

/* to optimize page for mobile view*/

@media only screen and (min-width:176px) and (max-width:900px) {
    fieldset {
        width: 70%;
        height: 60%;
        font-size: 60%;
    }

    #logo {
        width: 60%;
        height: 60%;
    }

    #cit {
        width: 10%;
        height: 10%;
    }

    input {
        width: 70%;
    }


}




